/* ••• Popup ••• */

section.black__popup__active{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    z-index: 2;
    transition: $trans-default;
}

/* ••• Popup END ••• */