/* ••• Header ••• */

header{
    display: flex;
    position: absolute;    
    left: 21%;

    z-index: 2;

    @media screen and (max-width: 1300px){
        justify-content: unset;
        left: 21%;
    }

    @media screen and (max-width: 768px),
           screen and (max-height: 600px){
        left: -100%;
        background-color: #333333;
        position: fixed;
        z-index: 9;
        display: block;
        width: 300px;
        height: 100%;
        transition: 500ms;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
    }

    & .header__exit__button{
        display: none;
        position: absolute;
        right: 38px;
        top: 38px;
        width: 32px;
        height: 32px;
        background-image: url("../img/header/menu-exit.svg");
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;
        cursor: pointer;
        border-radius: 10px;

        z-index: 999999;

        @media screen and (max-width: 768px),
               screen and (max-height: 600px){
            display: flex;
        }

        &:hover,
        &:focus,
        &:active{
            transition: 300ms;
            background-color: #222222cc !important;
            outline: none;
        }
        
    }

    & nav{
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
        position: relative;
        width: 60%;
        white-space: nowrap;

        @media screen and (max-width: 1160px){
            display: block;
        }
        @media screen and (max-width: 1300px){
            width: unset;
        }
        @media screen and (max-width: 768px),
               screen and (max-height: 600px){
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 0px;
        }


        & .nav__menu{
            z-index: 9;
            display: flex;
            position: relative;
            list-style-type: none;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 768px){
                display: block;
                width: auto;
            }
            
            @media screen and (max-height: 600px){
                display: flex;
                flex-flow: column;
            }

            &__item{
                margin-right: 4vw;
                
                @media screen and (max-width: 992px){
                    margin-right: 3vw;
                }
                
                @media screen and (max-width: 768px),
               screen and (max-height: 600px){
                    margin-right: 0;
                    margin-bottom: 35px;
                }
                
                @media screen and (max-height: 600px){
                    margin-bottom: 15px;
                }

                & a{
                    font-family: 'Open Sans Condensed';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #fff;
                    text-decoration: none;
                }

                &:nth-last-child(1){
                    margin-right: 0;
                }
                
                &:hover,
                &:focus,
                &:active{

                    outline: none;
                    a{
                        color: $color-1 !important;
                        transition: $trans-default;
                        outline: none;
                    }
                }

            }
        }

        & button{
            z-index: 9;
            font-family: 'Open Sans Condensed';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: right;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            background-color: transparent;
            margin-left: 9.55vw;
            color: #fff;
            cursor: pointer;
            transition-timing-function: linear;

            @media screen and (max-width: 1160px){
                margin-top: 50px;
                margin-left: 0;
                position: relative;
                display: block;
                left: 50%;
                transform: translate(-50%);
            }

            @media screen and (max-width: 768px),
               screen and (max-height: 600px){
                display: none;
            }

            &::after{
                content: '';
                display: block;
                top: 100%;
                position: absolute;
                width: 106px;
                height: 0px;
                bottom: 0;
                z-index: -1;
                border-bottom: 2px solid $color-1;
            }

            &:hover,
            &:focus,
            &:active{
                &::after{
                    border-bottom: 2px dotted $color-1;
                }
            }
        }
    }

    & ul.header__social__links{
        display: none;
        flex-flow: column;
        justify-content: center;
        width: 100%;
        align-items: center;

        @media screen and (max-width: 768px){
            display: flex;
        }

        @media screen and (max-height: 600px){
            display: flex;
            flex-flow: row;
        }
        
        & ul{
            display: flex;
            list-style: none;
            justify-content: space-between;
            width: 140px;

            @media screen and (max-height: 600px){
                justify-content: space-evenly;
            }

            & li{
                width: 50px;
                height: 50px;

                & a{
                    @media screen and (max-height: 600px){
                        width: 50px;
                        height: 50px;
                        align-items: center;
                        display: flex;
                    }
                }

                &:hover,
                &:focus,
                &:active{
                    svg, path{
                        fill: $color-1;
                        transition: $trans-default;
                        outline: none;
                    }
                }
            }
        }

        & ul:nth-last-child(1){
            margin-top: 50px;

            @media screen and (max-height: 600px){
                margin-top: unset;
            }
        }
    }
}

header.active{
    left: 0;
}


/* ••• Header End ••• */