@mixin content-box {
    align-items: center;
    display: flex;
    position: relative;    
    left: 21%;
    width: 60%;
    justify-content: space-between;    
    
    @media screen and (max-width: 992px){
        left: 40px;
        width: calc(100% - 80px);
    }
}

@mixin content-box-title{
    justify-content: center;
    padding-top: 75px;
    margin-top: 75px;

    & h2{
        font-family: 'Open Sans Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;

        & span{
            color: $color-1;
        }
    }
}