section.phone__menu{
    width: 180px;
    position: fixed;
    z-index: 1;
    display: none;
    top: 50px;
    
    z-index: 2;

    @media screen and (max-width: 768px){
        display: flex;
    }

    & .content__box{
        justify-content: space-between;
        
        & .phone__menu__button{
            width: 50px;
            height: 50px;
            background-color: transparent;
            cursor: pointer;
            border-radius: 10px;
            transition: $trans-default;

            &:hover,
            &:focus,
            &:active{
                transition: 300ms;
                background-color: #222222cc !important;
                outline: none;
            }
        }

        & .phone__menu__button__scrolled{
            transition: 300ms;
            background-color: #222222 !important;
            outline: none;
            box-shadow: 4px 4px 9px 0px #000000bd;

            &:hover,
            &:focus,
            &:active{
                transition: 300ms;
                background-color: #191919 !important;
                outline: none;
                box-shadow: 4px 4px 9px 0px #000000bd;
            }
        }
    }
}