/* ••• Projects SECTION ••• */



section.projects{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;

    @media screen and (max-width: 520px){
        display: none;
    }

    & .projects__container{

        & .content__box{
            width: auto;
            left: 150px;
            overflow: hidden;

            @media screen and (max-width: 992px){
                left: 40px;
                width: calc(100% - 80px);
            }
            

            & .slider__inner{
                width: 100%;
                position: relative;
                min-height: 550px;
                min-width: 0;
                cursor: grab;
                background-size: cover;


                & .slide-1
                    {
                        background-image: url("../img/projects/projects__img-1.png");
                    }

                & .slide-2
                    {
                        background-image: url("../img/projects/projects__img-2.png");
                    }

                & .slide-3
                    {
                        background-image: url("../img/projects/projects__img-3.png");
                    }

                & .slide-4
                    {
                        background-image: url("../img/projects/projects__img-4.png");
                    }
                    
                & .projects__slider__slide{

                    width: 442px;
                    min-height: 550px;
                    position: relative;
                    background-repeat: no-repeat;
                    background-position: center;
                    overflow: hidden;

                    @media screen and (max-height: 650px){
                        width: calc(442px - 100px);
                        min-height: calc(550px - 100px);
                        background-size: cover;
                    }

                    @media screen and (max-height: 530px){
                        width: calc(442px - 150px);
                        min-height: calc(550px - 150px);
                    }

                    @media screen and (max-height: 440px){
                        width: calc(442px - 200px);
                        min-height: calc(550px - 200px);
                    }

                    // @media screen and (max-width: 400px) and (max-height: 840px){
                    //     width: calc(442px - 100px);
                    //     min-height: calc(550px - 100px);
                    //     background-size: cover;
                    // }

                    &:hover{
                        .projects__slider__slide__info{
                            opacity: 0;
                        }
                        .projects__slider__slide__link{
                            opacity: 1;
                        }
                    }
                    
                    &__info{
                        position: relative;
                        display: flex;
                        flex-flow: column;
                        justify-content: space-between;
                        width: 100%;
                        height: 100%;
                        background-color: #333333A6;
                        transition: 500ms;

                        &__title{
                            font-family: 'Open Sans Condensed';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 33px;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
                            color: #fff;
                            padding-top: 40px;
                            padding-left: 40px;
                            position: relative;
                            display: block;

                            @media screen and (max-height: 530px){
                                font-size: 20px;
                            }

                            @media screen and (max-height: 440px){
                                font-size: 14px;
                                padding-top: 30px;
                                padding-left: 30px;
                            }
                        }
                        
                        &__date{
                            font-family: 'Open Sans Condensed';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 25px;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            position: relative;
                            display: block;
                            max-height: 24px;
                            writing-mode: vertical-lr;
                            white-space: nowrap;
                            transform: rotateX(180deg) rotateY(180deg);
                            width: 26px;
                            margin-bottom: 40px;
                            margin-left: 40px;

                            @media screen and (max-height: 530px){
                                font-size: 20px;
                            }

                            @media screen and (max-height: 440px){
                                font-size: 14px;
                                margin-bottom: 30px;
                                margin-left: 22px;
                            }
                        }
                    }

                    &__link{
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 500ms;
                        position: absolute;
                        opacity: 0;

                        a{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            background-color: $color-1;
                            transition: $trans-default;
                            background-image: url("../img/projects/projects__search.svg");
                            background-position: center;
                            background-repeat: no-repeat;

                            &:hover{
                                box-shadow: 0px 0px 10px 0px #000;
                                transition: $trans-default;
                            }
                        }
                    }
                }
            }
        }
    }
}

.slick-track{
    display: flex;
}

.slick-list{
    overflow: hidden;
}

.slick-slide:active{
    cursor: grabbing;
}

/* ••• Projects SECTION End ••• */