$color-1: #D1A954;
$color-2: #333333;
$color-3: #444444;
$color-4: #616161;
$color-5: #989898;
$color-6: #565656;
$trans-default: 300ms;
$menu-margin-social-links: 30px;

:root{
    --color-3: #FFFFFF99;
    --menu-margin-social-links: 30px;
}